{% extends "common/layout-main.twig" %}
{% block body_mod %}{% endblock %}

{% block body %}

    <div class="article">
        <div class="item">
            <div class="item__img"><img src="images\Windows.png" alt=""></div>
            <div class="item__text">
                <h2>Заголовок</h2><br>
                <p>Текст</p>
            </div>
        </div>
        <div class="item">
            <div class="item__img"><img src="images\Windows.png" alt=""></div>
            <div class="item__text">
                <h2>Заголовок</h2><br>
                <p>ТекстТекст Текст Текст Текст Текст Текст Текст Текст Текст</p>
            </div>
        </div>
        <div class="item">
            <div class="item__img"><img src="images\Windows.png" alt=""></div>
            <div class="item__text">
                <h2>Заголовок</h2><br>
                <p>Текст ТекстТекст Текс тТекстТекст ТекстТекстТекст ТекстТексттТекстТекст ТекстТекстТекст ТекстТекст</p>
            </div>
        </div>
        <div class="item">
            <div class="item__img"><img src="images\Windows.png" alt=""></div>
            <div class="item__text">
                <h2>Заголовок</h2><br>
                <p>Текст текстТекстТексттТекстТекст ТекстТекстТекстТекстТексттТекстТекст ТекстТекстТекст</p>
            </div>
        </div>
        <div class="item">
            <div class="item__img"><img src="images\Windows.png" alt=""></div>
            <div class="item__text">
                <h2>Заголовок</h2><br>
                <p>ТекстТексттТекстТекст ТекстТекст ТекстТекстТексттТекстТекст ТекстТекстТекст Текст Текст Текст Текст Текст Текст Текст</p>
            </div>
        </div>
        <div class="item">
            <div class="item__img"><img src="images\Windows.png" alt=""></div>
            <div class="item__text">
                <h2>Заголовок</h2><br>
                <p>Текст Текст Текст Текст Текст</p>
            </div>
        </div>
    </div>
    <ul class="sidebar">
        <li>
            <div class="sidebar__text">
            <p>Текст</p><br>
            <H3>Под заголовок</H3></div></li>
        <li>
            <div class="sidebar__text">
                <p>ТекстТекстТекстТекст</p> <br>
                <H3>Под заголовок</H3></div></li>
        <li>
            <div class="sidebar__text">
                <p>ТекстТекстТекстТекстТекст</p><br>
                <H3>Под заголовок</H3></div></li>
        <li>
            <div class="sidebar__text">
                <p>ТекстТекстТекстТекст</p><br>
                <H3>Под заголовок</H3></div></li>
        <li>
            <div class="sidebar__text">
                <p>ТекстТекстТекстТекстТекст</p><br>
                <H3>Под заголовок</H3></div></li>
        <li>
            <div class="sidebar__text">
                <p>ТекстТекстТекстТекстТекстТекстТекстТекст</p><br>
                <H3>Под заголовок</H3></div></li>

    </ul>

{% endblock %}
