html,
body {
  min-width 320px
  height 100%
}
/*html {
   -webkit-tap-highlight-color rgba(#000, 0)
}
body {
	-moz-osx-font-smoothing: grayscale
   -webkit-font-smoothing: antialiased
   -webkit-text-size-adjust: 100%
   overflow-y scroll
   font-family $font-main
   font-size $size-main
   line-height $line-main
}*/
.body {
  display flex
  flex-direction column
  background-color #323232
  color #86142e
  &__wrapper {
    overflow hidden
    flex 1 0 auto
    display flex
    flex-direction column
    position relative
  }
  &__header,
  &__footer,
  &__content {
    flex 0 0 auto
  }
  &__content {
    font-family serif
    font-weight normal
    display flex
    flex-grow 1
    margin-left: 4%
    margin-right: 8%
    font-size 1em
    .article {
      box-shadow: inset rgba(255,255,255,0.2) 8px  8px 18px 5px,
                  inset rgba(0,0,0,0.5)      -8px -8px 18px 5px;
      width 63%
      height 50%
      margin-right 2%
      display flex
      flex-wrap wrap
      padding: 0.2em
      align-content flex-start
      justify-content space-between
      .item {
        box-shadow: 20px 15px 5px 5px rgba(0, 0, 0, .3);
        flex: 0 0 33%
        box-sizing: border-box
        min-width: 120px
        border: solid 4px #000000
        max-width 250px
        margin-top 2px

        &__text {
          width 80%
          margin 0 auto
          word-break break-all
          height auto
          text-align center
          h2 {
            text-align center
            font-weight bold
            font-family serif
            padding 2px
            background-color #fcfbff
            border-radius 3px
            display inline-block
          }
          p {
            text-align justify
            color white
            padding 2px
            display inline-block
          }
        }
        &__img {
          background-color #083060
          border: solid 4px #fbfdff
          img {
            display block
            margin auto
            max-width 100%
            height auto
          }
        }
    }
  }
}
.sidebar {
  font-style italic
  display flex
  width 37%
  flex-direction column
  li {

    margin-left 7px

    display flex

    &:first-child {
      margin-top 18px
    }
    .sidebar__text {
      word-break break-all
      margin-left 9px

      p {
        display inline-block
        padding 2px
        margin-top 2px
        margin-bottom 0
        padding-bottom 1px
        background-color #fcfbff
        border-radius 3px
        box-shadow: 20px 15px 5px 5px rgba(0, 0, 0, .3);
      }
      h3 {
        display inline-block
        background-color #fcfbff
        padding 0px
        border-radius 3px
        font-family serif
        font-weight normal
        margin-left 2px
      }
               }
            }
            li+li {
               margin-top 10px
            }
      }
   }

@media screen and (min-width:490px) and (max-width: 585px) {
   .body {
      display flex
      flex-direction column
      background-color #323232

      &__header,
      &__footer,
      &__content {
         flex 0 0 auto
      }
      &__content {
         font-family serif
         font-weight normal
         color #6b2337
         display flex
         flex-grow 1
         margin-left: 4%
         margin-right: 6%
         font-size 1em
         .article {
            width 63%
            margin-right 2%
            display flex
            flex-wrap wrap
            padding: 0.2em
            //align-content flex-start
            justify-content center

         }
      }
   }
}
@media screen and (max-width: 490px) {
   .body {
      &__content {
         margin-left: 4%
         margin-right: 4%
         .article {
            justify-content center
            width 100%
            .item {
              text-align center
              flex: 0 0 100%
            }
         }
         .sidebar {
            display none
         }
      }
   }
}