.button::-moz-focus-inner {
   padding 0
   border 0
}

$button,
.button {
   cursor pointer
   user-select none
   transition $transition-main
   box-sizing border-box
   vertical-align top
   display inline-flex
   align-items center
   justify-content center

   position relative
   padding 0 30px
   border 1px solid $color-black
   border-radius 50px
   outline none
   background-color $color-white

   color $color-black
   font-family $font-main
   font-style normal
   font-weight 400
   font-size $size-main
   line-height $line-main
   letter-spacing 0

   text-align center
   text-transform none
   text-decoration none
   &__icon {
      margin-right 10px
      &::before {
         content ''
         display block
      }

      &:last-child {
         margin-left 10px
         margin-right 0
      }
   }
   &__title {
      padding 11px 0 10px
   }

   &:hover {
      border-color $color-black
      background-color $color-black
      color $color-black
   }
   &:active {
      border-color $color-green-xxdark
      background-color  $color-green-xxdark
   }
   &:disabled {
      border-color $color-gray
      background-color  $color-gray
   }

   &.is-loading {
      opacity .5
   }
}


$button_full,
.button_full {
   width 100%
}
