$paragraph,
table,
blockquote,
ol,
ul,
p {
   margin-bottom $margin-paragraph
   &:last-child {
      margin-bottom 0
   }
}

img {
   max-width 100%
}

i, em {
   font-style italic
}
b, strong {
   font-weight 700
}

$link,
.link,
a {
   transition $transition-main
   text-decoration underline
   color $color-link

   &:hover,
   &:active {
      color $color-hover
   }
}

a[href^='tel:'] {
   //@extend $link_inherit
   border-bottom-width 0
   white-space nowrap
}

ol {
   counter-reset nums
   list-style none
   li {
      counter-increment nums
      list-style-type none
      position relative
      padding-left 20px
      &::before {
         content counter(nums) '.'
         position absolute
         font-weight 700
         left 2px
         color $color-main
      }
   }
}


ul {
   li {
      padding-left 23px
      position relative
      &::before {
         content ''
         display block
         position absolute
         left 0
         top 0
         size 20px
        // border-radius 50%
         border solid 4px #e7e7e7
         background-color #323232
         box-shadow:    inset rgba(255,255,255,0.2) 8px  8px 18px 5px,
                        inset rgba(0,0,0,0.5)      -8px -8px 18px 5px;


      }
   }

   .display-none {
      display none
   }
}
