.header {
  h1 {
    margin-top: 1%
    margin-left 3%
    margin-bottom 22px
    font-size 14px
    font-family serif
    font-weight bold
    color white
    display inline-block;
    padding: 2px;
    //background-color #e7e7e7;
    text-transform uppercase;
    text-shadow: #ffffff 0 0 10px;

}
}
@media screen and (max-width: 490px) {
  .header {
    text-align center
    margin-top 4%
  }
}
